.elementor-305 .elementor-element.elementor-element-7a627816 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:space-between;align-items:space-between;}.elementor-305 .elementor-element.elementor-element-7a627816:not(.elementor-motion-effects-element-type-background), .elementor-305 .elementor-element.elementor-element-7a627816 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#020017;}.elementor-305 .elementor-element.elementor-element-7a627816{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-305 .elementor-element.elementor-element-7a627816 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-305 .elementor-element.elementor-element-f8ffbf0 > .elementor-element-populated{padding:0px 014px 22px 14px;}.elementor-305 .elementor-element.elementor-element-12e42cbd img{width:40px;}.elementor-305 .elementor-element.elementor-element-12e42cbd{width:auto;max-width:auto;top:30px;}body:not(.rtl) .elementor-305 .elementor-element.elementor-element-12e42cbd{left:22px;}body.rtl .elementor-305 .elementor-element.elementor-element-12e42cbd{right:22px;}.elementor-305 .elementor-element.elementor-element-7bd5e067 .elementor-icon-wrapper{text-align:center;}.elementor-305 .elementor-element.elementor-element-7bd5e067.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-305 .elementor-element.elementor-element-7bd5e067.elementor-view-framed .elementor-icon, .elementor-305 .elementor-element.elementor-element-7bd5e067.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-305 .elementor-element.elementor-element-7bd5e067.elementor-view-framed .elementor-icon, .elementor-305 .elementor-element.elementor-element-7bd5e067.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-305 .elementor-element.elementor-element-7bd5e067 .elementor-icon{font-size:28px;}.elementor-305 .elementor-element.elementor-element-7bd5e067 .elementor-icon svg{height:28px;}.elementor-305 .elementor-element.elementor-element-7bd5e067{width:auto;max-width:auto;top:38px;}body:not(.rtl) .elementor-305 .elementor-element.elementor-element-7bd5e067{right:26px;}body.rtl .elementor-305 .elementor-element.elementor-element-7bd5e067{left:26px;}.elementor-305 .elementor-element.elementor-element-1409f145 .elementor-search-form__container{min-height:52px;}.elementor-305 .elementor-element.elementor-element-1409f145 .elementor-search-form__submit{min-width:52px;}body:not(.rtl) .elementor-305 .elementor-element.elementor-element-1409f145 .elementor-search-form__icon{padding-left:calc(52px / 3);}body.rtl .elementor-305 .elementor-element.elementor-element-1409f145 .elementor-search-form__icon{padding-right:calc(52px / 3);}.elementor-305 .elementor-element.elementor-element-1409f145 .elementor-search-form__input, .elementor-305 .elementor-element.elementor-element-1409f145.elementor-search-form--button-type-text .elementor-search-form__submit{padding-left:calc(52px / 3);padding-right:calc(52px / 3);}.elementor-305 .elementor-element.elementor-element-1409f145 .elementor-search-form__icon{--e-search-form-icon-size-minimal:14px;}.elementor-305 .elementor-element.elementor-element-1409f145 input[type="search"].elementor-search-form__input{font-family:"Poppins", Sans-serif;}.elementor-305 .elementor-element.elementor-element-1409f145 .elementor-search-form__input,
					.elementor-305 .elementor-element.elementor-element-1409f145 .elementor-search-form__icon,
					.elementor-305 .elementor-element.elementor-element-1409f145 .elementor-lightbox .dialog-lightbox-close-button,
					.elementor-305 .elementor-element.elementor-element-1409f145 .elementor-lightbox .dialog-lightbox-close-button:hover,
					.elementor-305 .elementor-element.elementor-element-1409f145.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{color:#FFFFFF;fill:#FFFFFF;}.elementor-305 .elementor-element.elementor-element-1409f145:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{background-color:#243459;border-width:0px 0px 0px 3px;border-radius:8px;}.elementor-305 .elementor-element.elementor-element-1409f145.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{background-color:#243459;border-width:0px 0px 0px 3px;border-radius:8px;}.elementor-305 .elementor-element.elementor-element-1409f145 > .elementor-widget-container{margin:130px 0px 20px 0px;}.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(10px/2);}.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(10px/2);}.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(10px/2);margin-left:calc(10px/2);}.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-10px/2);margin-left:calc(-10px/2);}body.rtl .elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-10px/2);}body:not(.rtl) .elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-10px/2);}.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-icon i{color:#FFFFFF;transition:color 0.3s;}.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-icon svg{fill:#FFFFFF;transition:fill 0.3s;}.elementor-305 .elementor-element.elementor-element-4373b0a2{--e-icon-list-icon-size:15px;--e-icon-list-icon-align:center;--e-icon-list-icon-margin:0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);--icon-vertical-offset:0px;}.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-icon{padding-right:15px;}.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-size:14px;font-weight:400;}.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-text{color:#FFFFFF;transition:color 0.3s;}.elementor-305 .elementor-element.elementor-element-3aacd3eb:not(.elementor-motion-effects-element-type-background), .elementor-305 .elementor-element.elementor-element-3aacd3eb > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#12133A;}.elementor-305 .elementor-element.elementor-element-3aacd3eb{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-305 .elementor-element.elementor-element-3aacd3eb > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-305 .elementor-element.elementor-element-8e231a3 > .elementor-element-populated{padding:22px 20px 22px 20px;}.elementor-305 .elementor-element.elementor-element-14fdc7f6 img{width:40px;border-radius:10px 10px 10px 10px;}.elementor-305 .elementor-element.elementor-element-14fdc7f6{width:auto;max-width:auto;}.elementor-305 .elementor-element.elementor-element-5df025af.elementor-position-right .elementor-image-box-img{margin-left:15px;}.elementor-305 .elementor-element.elementor-element-5df025af.elementor-position-left .elementor-image-box-img{margin-right:15px;}.elementor-305 .elementor-element.elementor-element-5df025af.elementor-position-top .elementor-image-box-img{margin-bottom:15px;}.elementor-305 .elementor-element.elementor-element-5df025af .elementor-image-box-wrapper .elementor-image-box-img{width:30%;}.elementor-305 .elementor-element.elementor-element-5df025af .elementor-image-box-img img{transition-duration:0.3s;}.elementor-305 .elementor-element.elementor-element-5df025af .elementor-image-box-wrapper{text-align:left;}.elementor-305 .elementor-element.elementor-element-5df025af .elementor-image-box-title{color:#FFFFFF;font-family:"Poppins", Sans-serif;font-size:16px;font-weight:600;}.elementor-305 .elementor-element.elementor-element-5df025af .elementor-image-box-description{color:#FFFFFF;font-family:"Poppins", Sans-serif;font-size:13px;font-weight:400;}.elementor-305 .elementor-element.elementor-element-5df025af{width:var( --container-widget-width, 120px );max-width:120px;--container-widget-width:120px;--container-widget-flex-grow:0;top:21px;}body:not(.rtl) .elementor-305 .elementor-element.elementor-element-5df025af{left:80px;}body.rtl .elementor-305 .elementor-element.elementor-element-5df025af{right:80px;}.elementor-305 .elementor-element.elementor-element-46ee8e80 .elementor-icon-wrapper{text-align:center;}.elementor-305 .elementor-element.elementor-element-46ee8e80.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-305 .elementor-element.elementor-element-46ee8e80.elementor-view-framed .elementor-icon, .elementor-305 .elementor-element.elementor-element-46ee8e80.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-305 .elementor-element.elementor-element-46ee8e80.elementor-view-framed .elementor-icon, .elementor-305 .elementor-element.elementor-element-46ee8e80.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-305 .elementor-element.elementor-element-46ee8e80 .elementor-icon{font-size:28px;}.elementor-305 .elementor-element.elementor-element-46ee8e80 .elementor-icon svg{height:28px;}.elementor-305 .elementor-element.elementor-element-46ee8e80{width:auto;max-width:auto;top:38px;}body:not(.rtl) .elementor-305 .elementor-element.elementor-element-46ee8e80{right:22px;}body.rtl .elementor-305 .elementor-element.elementor-element-46ee8e80{left:22px;}.elementor-305 .elementor-element.elementor-element-46ee8e80 > .elementor-widget-container{background-color:#020017;}@media(max-width:500px){.elementor-305 .elementor-element.elementor-element-5df025af .elementor-image-box-img{margin-bottom:15px;}}/* Start custom CSS for icon, class: .elementor-element-7bd5e067 */.elementor-305 .elementor-element.elementor-element-7bd5e067{
    --gap: 0.25em;
    --weight: 0.05em;
    --width: 0.8em;
}
.elementor-305 .elementor-element.elementor-element-7bd5e067 .elementor-icon{
    position: relative;
}
.elementor-305 .elementor-element.elementor-element-7bd5e067 i:before,
.elementor-305 .elementor-element.elementor-element-7bd5e067 i:after,
.elementor-305 .elementor-element.elementor-element-7bd5e067 .elementor-icon:after{
    content: "";
    height: var(--weight);
    width: var(--width);
    position: absolute;
    background: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + var(--gap)));
}
.elementor-305 .elementor-element.elementor-element-7bd5e067 i:after{
    transform: translate(-50%,calc(-50% - var(--gap)));
}
.elementor-305 .elementor-element.elementor-element-7bd5e067 .elementor-icon:after{
    transform: translate(-50%,-50%);
}/* End custom CSS */
/* Start custom CSS for search-form, class: .elementor-element-1409f145 */.elementor-305 .elementor-element.elementor-element-1409f145 .elementor-search-form__icon{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-4373b0a2 */.elementor-305 .elementor-element.elementor-element-4373b0a2{
    --radius: 8px;
    
}
.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-icon{
  color: currentColor;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: currentColor;
  text-align: center;
}
.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-item.active .elementor-icon-list-icon,
.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-item:hover .elementor-icon-list-icon{
    -webkit-text-stroke-width: 1px;
}
.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-item a{
    padding: 13px 18px !important;
    border-radius: var(--radius);
}
.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-item.active a,
.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-item:hover a{
    background: #fff;
}
.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-item.active span,
.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-item:hover span,
.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-item.active span i,
.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-item:hover span i{
    color: #000;
}
.elementor-305 .elementor-element.elementor-element-4373b0a2 .elementor-icon-list-text{
    min-width: var(--width);
}
.elementor-305 .elementor-element.elementor-element-4373b0a2 a:focus{
    outline: none;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-7a627816 */:root{
    --w: 80px;
    --narrow-width: 250px;
}

.elementor-305 .elementor-element.elementor-element-7a627816{
    width: var(--w);
    overflow: auto;
    position: fixed;
    transition: all 0.3s ease-in-out !important;
    overflow-x: hidden;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none
}
.elementor-305 .elementor-element.elementor-element-7a627816::-webkit-scrollbar{
    display: none;
}

.sidebar-toggle{
    cursor: pointer;
}

body.opening .elementor-305 .elementor-element.elementor-element-7a627816{
    width: var(--narrow-width) !important;
}
body.opening .elementor-305 .elementor-element.elementor-element-7a627816 .elementor-inner-section .elementor-widget-wrap{
    padding-left: 22px !important;
    padding-right: 25px !important;
}
.elementor-305 .elementor-element.elementor-element-7a627816 .logo{
    transition: all 0.3s ease-in-out;
    /*display: none;*/
    pointer-events: none;
    opacity: 0;
}
body.opening .elementor-305 .elementor-element.elementor-element-7a627816 .logo{
    opacity: 1;
    pointer-events: unset;
    /*display: block;*/
}
body.open .elementor-305 .elementor-element.elementor-element-7a627816 .logo{
    /*display: block;*/
    /*opacity: 1;*/
}
body.opening .elementor-305 .elementor-element.elementor-element-7a627816 .sidebar-toggle{
    right: 22px;
}
.elementor-305 .elementor-element.elementor-element-7a627816 .elementor-widget-search-form form{
    position: relative;
}
.elementor-305 .elementor-element.elementor-element-7a627816 .elementor-widget-search-form form:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
body.opening .elementor-305 .elementor-element.elementor-element-7a627816 .elementor-widget-search-form form:before{
    z-index: -1;
}
body.opening .elementor-305 .elementor-element.elementor-element-7a627816 .elementor-search-form__icon{
    padding-left: 18px !important;
}
.elementor-305 .elementor-element.elementor-element-7a627816 .elementor-icon-list-text{
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
body.opening .elementor-305 .elementor-element.elementor-element-7a627816 .elementor-icon-list-text{
    opacity: 1;
}

.elementor-305 .elementor-element.elementor-element-7a627816 .elementor-widget-image-box{
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
body.opening .elementor-305 .elementor-element.elementor-element-7a627816 .elementor-widget-image-box{
    opacity: 1;
}
.elementor-305 .elementor-element.elementor-element-7a627816 .user{
    transition: all 0.1s ease-in-out;
}
/*.elementor-305 .elementor-element.elementor-element-7a627816 .user .elementor-widget-wrap{*/
/*    transition: all 0.3s ease-in-out;*/
/*}*/
body.opening .elementor-305 .elementor-element.elementor-element-7a627816 .user .elementor-widget-wrap{
    padding-left: 22px !important;
    padding-right: 22px !important;
}
body.opening  .elementor-305 .elementor-element.elementor-element-7a627816 .user img {
    width: 45px;
    transition: all 0.3s ease-in-out;
}

header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--w);
    transition: all 0.3s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
}

@media (max-width: 1024px){
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
    transform: translateX(calc(var(--w) - var(--narrow-width)));
    width: calc(100% - var(--w));
    transition: all 0.6s ease-in-out !important;
}
body.open header + *,
body.open [data-elementor-type="header"] + *,
body.open footer,
body.open [data-elementor-type="footer"]{
    transform: translateX(0);
    /*width: calc(100% - var(--narrow-width));*/
    transition: all 0.3s ease-in-out !important;
}
html, body{
    overflow-x: hidden;
}
}

@media (max-width: 500px){
:root{
    --w: 250px;
    --narrow-width: 80px;
}
.elementor-305 .elementor-element.elementor-element-7a627816,
body.opening .elementor-305 .elementor-element.elementor-element-7a627816{
    height: 100vh;
    width: var(--w) !important;
    transform: translateX(calc(-1*var(--w)));
}
body.left .elementor-305 .elementor-element.elementor-element-7a627816{
    transform: translateX(0);
}
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: 0 !important;
    transform: translateX(0);
    transition: all 0.3s ease-in-out !important;
    width: 100% !important;
}
body.left header + *,
body.left [data-elementor-type="header"] + *,
body.left footer,
body.left [data-elementor-type="footer"]{
    margin-left: var(--w) !important;
}
.elementor-305 .elementor-element.elementor-element-7a627816 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{
    height: 100vh;
}
}

.site-content footer,
.site-content header + *{
    margin: 0 !important;
    transform: none !important;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-46ee8e80 */.elementor-305 .elementor-element.elementor-element-46ee8e80{
    --gap: 0.25em;
    --weight: 0.05em;
    --width: 0.8em;
}
.elementor-305 .elementor-element.elementor-element-46ee8e80 .elementor-icon{
    position: relative;
}
.elementor-305 .elementor-element.elementor-element-46ee8e80 i:before,
.elementor-305 .elementor-element.elementor-element-46ee8e80 i:after,
.elementor-305 .elementor-element.elementor-element-46ee8e80 .elementor-icon:after{
    content: "";
    height: var(--weight);
    width: var(--width);
    position: absolute;
    background: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + var(--gap)));
}
.elementor-305 .elementor-element.elementor-element-46ee8e80 i:after{
    transform: translate(-50%,calc(-50% - var(--gap)));
}
.elementor-305 .elementor-element.elementor-element-46ee8e80 .elementor-icon:after{
    transform: translate(-50%,-50%);
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-1e2ba68b */.elementor-305 .elementor-element.elementor-element-1e2ba68b{
    height: 0;
}/* End custom CSS */